# Unreal Engine
Binaries/
DerivedDataCache/
Windows/
Intermediate/
Saved/
.vs/
.idea/
*.sln
*.xcodeproj
*.xcworkspace

# Build artifacts
Build/*/FileOpenOrder/
Build/
/Builds/
Platforms/
# Logs, temp
*.log
*.tmp

# Packaged files
*.pak
*.ucas
*.utoc

# OS
.DS_Store
Thumbs.db

# Ton dossier de build spécifique
HeistDay_Build/
Run/
# Fichiers de projet utilisateur
*.uproject.user

# Scripts locaux a la racine (Serveur/Client)
/*.bat

# Executables
*.exe

BuildServer/